<%= form_for(task) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_field :details, class: 'form-control' %>
  </div>

  <% if !task.new_record? %>
    <div class="form-check">
      <%= f.check_box :completed %>
      <%= f.label :completed %>
    </div>
  <% end %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<hr>
<%= link_to tasks_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>
